
<script src="https://giscus.app/client.js"
        data-repo="cbos/discussions.ceesbos.nl"
        data-repo-id="R_kgDOKvA2aw"
        data-category="Blogpost"
        data-category-id="DIC_kwDOKvA2a84CbDkC"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<noscript>Please enable JavaScript, or join the <a href="https://github.com/cbos/discussions.ceesbos.nl/discussions/">discussion on GitHub</a>.</noscript>