<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href='{{ "css/gists.css" | absURL }}' />

    <title>{{ if .IsHome }}{{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href='{{ .Site.Params.favicon  }}'>
    {{ else }}
    <link rel="icon" type="image/x-icon" href='{{ "images/favicon.ico" | absURL }}'>
    {{ end }}
    <meta name="theme-color" content="#1e2327">

    <meta name="description"
          content="{{ if .IsHome }}{{ .Site.Params.tagline }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
    <meta name="keywords"
          content='{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}' />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Twitter Card -->
    {{ template "_internal/twitter_cards.html" . }}

    <!-- OG data -->
    {{ template "_internal/opengraph.html" . }}

    <!-- RSS -->
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    <!-- JSON Feed -->
    {{ with .OutputFormats.Get "json" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/json" title="{{ $.Site.Title }}" />
    {{ end }}

    {{ partial "faro-analytics/assets/js" . }}
</head>